*{
    margin: 0;
    padding: 0;
  }
  
  .app{
    text-align: center;
  }
  .nav-item{
    color: black !important;
  }
  
  .navbar-brand{
    color: black !important;
  }
  h1{
      font-size: 20px !important;
  }
  
  
  .flex-container{
     display: flex !important;
  }

  .food__image{
      height: 200px;
      width: 200px;
  }




  
.nav-link{
  color:black !important;
}
.navbar-brand{
  color:black !important;
}

h1{
  font-size: 20px !important;
}
.flex-container{
  display: flex !important;
}
.btn{
  background-color:red !important;
  color:white !important;
  box-shadow: none !important;
}

select{
  box-shadow: none !important;
  border-color: black !important;
}

.fa-plus{
  color:green ;
  margin: 5px;
}
.fa-minus{
  color:red !important;
  margin: 5px;
}
.fa-trash{
  color:red;
}
input{
  margin-top: 10px !important;
  box-shadow: none !important;
}
.adminfunctions{
  padding: 10px;
  /* background-color:rgb(1, 1, 77); */
  background-color: red;
}

.adminfunctions li{
  list-style-type: none !important; 
  display: inline !important;
  color: white !important;
}
.adminfunctions li a{
   color: white !important;
   padding: 20px;
}
td , th , tr{
  text-align:left;
}
.login{
  /* background-image: url('./images//bg1.svg'); */
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height:90vh;
}
.register{
  /* background-image: url('./images//bg2.svg'); */
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height:90vh;
}

.error__color{
  color: red;
}