*{
    margin: 0;
    padding: 0;
  }
  
  .app{
    text-align: center;
  }
  .nav-item{
    color: black !important;
  }
  
  .navbar-brand{
    color: black !important;
  }
  h1{
      font-size: 20px !important;
  }
  
  
  .flex-container{
     display: flex !important;
  }

  .food__image{
      height: 200px;
      width: 200px;
  }